@import "~antd/dist/antd.css";

.lbs-autocomplete-container {
  padding: 5px;
  width: 400px;
}

.lbs-autocomplete-option {
  height: 50px !important;
}

.lbs-autocomplete-option > .lbs-autocomplete-address {
  font-size: 12px;
}
